<a href="https://colab.research.google.com/github/Atlantxyz/ml/blob/main/%D0%A2%D0%B5%D0%BC%D0%B0%201/assignment01_adult_pandas%20(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/Atlantxyz/ml/blob/main/%D0%A2%D0%B5%D0%BC%D0%B0%201/assignment01_adult_pandas%20(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>Домашнее задание № 1.<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult].**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/Atlantxyz/ml/refs/heads/main/%D0%A2%D0%B5%D0%BC%D0%B0%201/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [3]:
data['sex'].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [4]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [5]:
len(data[data['native-country'] == 'Germany'])/data.shape[0]

0.004207487485028101

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [6]:
print(str(data[data['salary'] == '>50K']['age'].mean()) + '+-' + str(data[data['salary'] == '>50K']['age'].std()))
print(str(data[data['salary'] == '<=50K']['age'].mean()) + '+-' + str(data[data['salary'] == '<=50K']['age'].std()))

44.24984058155847+-10.51902771985177
36.78373786407767+-14.020088490824813

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [7]:
data[data['salary'] == '>50K']['education'].unique()
#нет

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [8]:
data.groupby(['race', 'sex']).describe()
#80

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                                         fnlwgt                 ...  \
                             75%   max    count           mean  ...
race               sex                                          ...
Amer-Indian-Eskimo Female  46.00  80.0    119.0  112950.731092  ...
                   Male    45.00  82.0    192.0  125715.364583  ...
Asian-Pac-Islander Female  43.75  75.0    346.0  147452.075145  ...
                   Male    46.00  90.0    693.0  166175.865801  ...
Black              Female  46.00  90.0   1555.0  212971.387781  ...
                   Male    46.00  90.0   1569.0  242920.644997  ...
Other              Female  39.00  74.0    109.0  172519.642202  ...
                   Male    42.00  77.0    162.0  213679.104938  ...
White              Female  46.00  90.0   8642.0  183549.966906  ...
                   Male    49.00  90.0  19174.0  188987.386148  ...

                          capital-loss         hours-per-week             \
                                   75%     max          count       mean
race               sex
Amer-Indian-Eskimo Female          0.0  1721.0          119.0  36.579832
                   Male            0.0  1980.0          192.0  42.197917
Asian-Pac-Islander Female          0.0  2258.0          346.0  37.439306
                   Male            0.0  2457.0          693.0  41.468975
Black              Female          0.0  4356.0         1555.0  36.834084
                   Male            0.0  2824.0         1569.0  39.997451
Other              Female          0.0  1740.0          109.0  35.926606
                   Male            0.0  2179.0          162.0  41.851852
White              Female          0.0  4356.0         8642.0  36.296691
                   Male            0.0  3770.0        19174.0  42.668822


                                 std  min   25%   50%   75%   max
race               sex
Amer-Indian-Eskimo Female  11.046509  4.0  35.0  40.0  40.0  84.0
                   Male    11.596280  3.0  40.0  40.0  45.0  84.0
Asian-Pac-Islander Female  12.479459  1.0  35.0  40.0  40.0  99.0
                   Male    12.387563  1.0  40.0  40.0  45.0  99.0
Black              Female   9.419960  2.0  35.0  40.0  40.0  99.0
                   Male    10.909413  1.0  40.0  40.0  40.0  99.0
Other              Female  10.300761  6.0  30.0  40.0  40.0  65.0
                   Male    11.084779  5.0  40.0  40.0  40.0  98.0
White              Female  12.190951  1.0  30.0  40.0  40.0  99.0
                   Male    12.194633  1.0  40.0  40.0  50.0  99.0

[10 rows x 48 columns]

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [9]:
married = data['marital-status'].str.startswith('Married')
rich_married_ratio = data[(data['sex'] == 'Male') & married & (data['salary'] == '>50K')].shape[0] / data[(data['sex'] == 'Male') & married].shape[0]
rich_unmarried_ratio = data[(data['sex'] == 'Male') & ~married & (data['salary'] == '>50K')].shape[0] / data[(data['sex'] == 'Male') & ~married].shape[0]
print("Доля зарабатывающих >50K среди женатых мужчин:", rich_married_ratio)
print("Доля зарабатывающих >50K среди холостых мужчин:", rich_unmarried_ratio)

Доля зарабатывающих >50K среди женатых мужчин: 0.4405139945351156
Доля зарабатывающих >50K среди холостых мужчин: 0.08449509031397745

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [10]:
max_hours = data['hours-per-week'].max()
num_people_max_hours = data[data['hours-per-week'] == max_hours].shape[0]
rich_max_hours_ratio = data[(data['hours-per-week'] == max_hours) & (data['salary'] == '>50K')].shape[0] / num_people_max_hours
print("Максимальное количество рабочих часов в неделю:", max_hours)
print("Число людей, работающих столько часов:", num_people_max_hours)
print("Процент зарабатывающих >50K среди них:", rich_max_hours_ratio)

Максимальное количество рабочих часов в неделю: 99
Число людей, работающих столько часов: 85
Процент зарабатывающих >50K среди них: 0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [11]:
data[data['salary'] == '>50K'].groupby(['native-country'])['hours-per-week'].mean()

native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64